<AppCard
  data-test-app-card-build={{@model.sequence}}
>
  <:meta-primary>
    <LinkTo
      @route="workspace.projects.project.app.build"
      @models={{array @model.sequence}}
      class="app-card__sequence-link"
    >
      <b class="badge badge--version">v{{@model.sequence}}</b>
    </LinkTo>
    <OperationStatusIndicator @status={{@model.status}} />
  </:meta-primary>

  <:meta-secondary>
    <Pds::Icon @type={{icon-for-component @model.component.name}} class="icon" />

    <span>
      {{#if (eq @model.status.state 2)}}
        Built with
      {{else if (eq @model.status.state 3)}}
        Failed to build with
      {{else}}
        Building with
      {{/if}}

      <b>{{component-name @model.component.name}}</b>
    </span>
  </:meta-secondary>
</AppCard>
